In [3]:
# Importando as bibliotecas dos dados

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:

# Carregando os dados de treinamento e teste
train_data = pd.read_csv("train.csv")
test_data = pd.read_csv("test.csv")

In [6]:
# Visualizando algumas amostras dos dados de treinamento
print(train_data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [18]:
# Supondo que 'train_data' é o DataFrame que contém os dados do Titanic, e 'Age' é a coluna com as idades
train_data['Age'] = train_data['Age'].fillna(train_data['Age'].median())  # Preenche valores ausentes com a mediana das idades

bins = [0, 18, 30, 50, 100]  # Limites das faixas etárias
labels = ['0-17', '18-29', '30-49', '50+']  # Rótulos das faixas etárias
train_data['AgeGroup'] = pd.cut(train_data['Age'], bins=bins, labels=labels, right=False)

print(train_data['AgeGroup'].head())

0    18-29
1    30-49
2    18-29
3    30-49
4    30-49
Name: AgeGroup, dtype: category
Categories (4, object): ['0-17' < '18-29' < '30-49' < '50+']